@import "normalize.css";
@import "bootstrap.css";
$main_font: 'Roboto', sans-serif;
$color_blue: #0077FF;
.container{
  max-width: 1920px;
  margin: auto;
}
header {
  position: sticky;
  height: 110px;
  top: -30px;
  z-index: 5;
    nav {
      height: 20px;
      position: sticky;
      top: 30px;
      z-index: 5;
      a {
        img {
          margin-top: 58px;
          margin-left: 70px;
          margin-right: 80px;
          @media only screen and (max-width: 429px) {
            width: 100%;
            margin: 0;
          }
        }

      }

      .first_ul{
        margin-top: 68px;
        li {
          margin: 0 20px;
          a {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 23px;
            text-align: center;
            color: #000000;
            &:hover{
              border-bottom: 2px solid #0077FF;
              transform: rotate(0.75deg);
            }
          }
          .header_button {
            background-color: $color_blue;
            border-radius: 56px;
            padding: 15px 30px;
            color: #ffffff;
            border: none;
            font-family: $main_font;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            margin-top: -10px;
            transition: 0.3s;
            &:hover{
              background-color: #3268AE;
            }

          }
        }
      }
      .second_ul {
        margin-top: 58px;

        li {
          list-style: none;
          margin: 0 20px;

          &:first-of-type a {
            margin-right: -80px;
            padding-right: 10px;
            border-right: 1px solid #A1A5A8;
            text-decoration: none;
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: black;
          }

          &:last-of-type a {
            font-family: $main_font;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #A1A5A8;
          }
        }
      }
    }
  }

.main_banner{
  h1{
    margin-left: 88px;
    margin-top: 178px;
    font-family:$main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 64px;
    @media only screen and (max-width: 429px){
      font-size: 40px;
      margin-top: 35px;
      margin-left: 55px;
    }
  }
  .mainbanner_a{
    background-color: $color_blue;
    border-radius: 56px;
    padding: 15px 30px;
    color: #ffffff;
    border: none;
    font-family:$main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 88px;
    text-decoration: none ;
    transition: 0.3s;
    &:hover{
      background-color: #3268AE;
    }
  }
  a{
    img{
      @media only screen and (max-width: 429px){
        margin-top: 30px;
        margin-left: 15px;
      }
    }
  }
}
.about_course{
  margin-top: 240px;
  h2{
    font-family:$main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 96px;
    @media only screen and (max-width: 429px){
      margin-top: -100px;
    }
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    text-align: center;
    color: #000000;
    margin-bottom: 80px;
  }
  .about_course_item{
    border-right: 1px solid #A1A5A8;
    h4{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #000000;
      margin-bottom: 30px;
    }
    h3{
      font-family:$main_font;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 42px;
      text-align: center;
      color: $color_blue;
    }
  }
}
.who_can{
  margin-top: 250px;
  .row {
    transition: 0.4s;
    &:hover{
      transform: scale(1.1);
      background-color: #7abaff;
    }
    h3 {
      font-family: $main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      line-height: 75px;
      text-align: center;
      color: #000000;
      margin-bottom: 76px;
    }

    hr {
      border: 2px dashed #0077FF;
    }

    .for_item {
      position: relative;
      top: -55px;

      p{
        font-family: $main_font;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 42px;
        text-align: center;
        color: #000000;
        box-sizing: border-box;
        border: 3px solid #0077FF;
        border-radius: 50%;
        padding: 15px 30px;
        background-color: #FFFFFF;
      }
    }
  }
  .for_item_2{
    a{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 35px;
      text-align: center;
      color: #000000;
      margin: 0 105px;
      text-decoration: none;
      @media only screen and (max-width: 429px){
        margin: 0 10px;
      }
    }
  }
}
.specifics{
  margin-top: 128px;
  background-color: #EFEDED;
  .specific_items{
    padding-top: 132px;
    a{
      img{
        position: relative;
        bottom: -50px;
        margin-left: 150px;
        @media only screen and (max-width: 429px){
          margin-left: 75px;
        }
      }
    }
    h4{
      margin-top: 50px;
      margin-bottom: 96px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 700;
      font-size: 44px;
      color: #000000;
    }
    p{
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 180%;
      color: #000000;
      margin-right: 150px;
      @media only screen and (max-width: 429px){
        margin-left: 75px;
        margin-right: 10px;
      }
    }
  }
}
.materials{
  margin-top: 168px;
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 96px;
  }
  a{
    img{
      @media only screen and (max-width: 429px){
        display: block;
        width: 100%;
      }
    }
  }
}
.lecturer{
  margin-top: 250px;
  @media only screen and (max-width: 429px){
    margin-top: 40px;
  }
  h5{
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 100px;
    @media only screen and (max-width: 429px){
      margin-bottom: 20px;
    }
  }
  h4{
    font-family:$main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 180%;
    text-transform: uppercase;
    color: #0077FF;
    margin-bottom: 30px;
    margin-top: 70px;
    @media only screen and (max-width: 429px){
      margin-left: 20px;
    }
  }
  p{
    font-family:$main_font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #000000;
    margin-right: 120px;
    @media only screen and (max-width: 429px){
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
.forms{
  background-color: #EFEDED;
  margin-top: 146px;
  h5{
    font-family:$main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    color: #000000;
    margin-top: 80px;
    @media only screen and (max-width: 429px){
      margin-left: 50px;
    }
  }
  .form-group{
    max-width: 500px;
    input{
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #A1A5A8;
    }
    .input_2{
      padding-left: 60px;
      &::placeholder{
        content: "";
        background-image: url("../images/ukraine.png");
        background-size: contain;
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
      }
    }
  }
  button{
    padding: 10px 150px;
    border-radius: 56px;
    margin-left: 30px;
    margin-top: 123px;
    font-family: $main_font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    @media only screen and (max-width: 429px){
      margin-left: 10px;
    }
  }
  a{
    font-family:$main_font;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 19px;
    color: #0077FF;

  }
}
footer{
  .item_1{
    a{
      margin-left: 88px;
      @media only screen and (max-width: 429px){
        margin-left: 50px;
      }
    }
    p{
      margin-left: 88px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      @media only screen and (max-width: 429px){
        margin-left: 120px;
      }
    }
  }
  .item_2{
    h5{
      margin: 47px 30px;
      font-family:$main_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      text-align: center;
      color: #000000;
      @media only screen and (max-width: 429px){
        margin: 25px 10px;
      }

    }
  }
  .item_3{
    a{
      margin: 39px 16px;
      @media only screen and (max-width: 429px){
        margin: auto;
      }
    }
  }
}